body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
}

.footer {
    font-size: 13px;
    padding: 0px 20px;
}

.header {
    display: flex;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    font-size: 20px;
    margin: 10px 20px 0px 20px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: lavender;
    padding: 5px 20px;
    margin-bottom: 20px;
}

.logo {
    margin-right: 50px;
    text-decoration: none;
    font-weight: 700;
    color: lightgreen;
    background-color: rebeccapurple;
    padding: 5px 15px;
}

ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.results {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.box {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    border-bottom: 1px solid #000;
}

.aside {
    background-color: lavender;
    padding: 10px 20px;
}

.post {
    padding-bottom: 20px;
}

a {
    color: rebeccapurple;
    text-decoration: none;
    font-weight: 700;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.link {
    display: block;
    text-align: center;
    background-color: rebeccapurple;
    color: white;
    padding: 8px 15px;
}

h1+.section {
    background-color: moccasin;
}